<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("King-Market", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operations <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Class Document Types", "Index", "ClassDocumentTypes")</li>
                                    <li>@Html.ActionLink("Document Types", "Index", "DocumentTypes")</li>
                                    <li>@Html.ActionLink("Status", "Index", "Status")</li>
                                    <li>@Html.ActionLink("Employee Types", "Index", "EmployeeTypes")</li>
                                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                                    <li>@Html.ActionLink("Product Types", "Index", "ProductTypes")</li>
                                    <li>@Html.ActionLink("Unit Measures", "Index", "UnitMeasures")</li>
                                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                                    <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                                    <li>@Html.ActionLink("Supplier Contacts", "Index", "SupplierContacts")</li>
                                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                                    <li>@Html.ActionLink("Customer Contacts", "Index", "CustomerContacts")</li>
                                }
                                @if (User.IsInRole("Customer"))
                                {
                                    <li>@Html.ActionLink("My Sale Orders", "Index", "SaleOrders")</li>
                                }
                                @if (User.IsInRole("Supplier"))
                                {
                                    <li>@Html.ActionLink("My Buy Orders", "Index", "BuyOrders")</li>
                                } 
                                @if (User.IsInRole("Buyer"))
                                {
                                    <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                                    <li>@Html.ActionLink("Supplier Contacts", "Index", "SupplierContacts")</li>
                                    <li>@Html.ActionLink("New Buy Order", "Create", "BuyOrders")</li>
                                    <li>@Html.ActionLink("My Buy Orders", "Index", "BuyOrders")</li>
                                }
                                @if (User.IsInRole("Grocer"))
                                {
                                    <li>@Html.ActionLink("Product Types", "Index", "ProductTypes")</li>
                                    <li>@Html.ActionLink("Unit Measures", "Index", "UnitMeasures")</li>
                                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                                    <li>@Html.ActionLink("New Incoming Good", "Create", "IncomingGoods")</li>
                                    <li>@Html.ActionLink("My Incoming Goods", "Index", "IncomingGoods")</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>