@model PagedList.IPagedList<KingMarket.Model.Models.Product>
@using KingMarket.Model.Models
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="carousel1" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"> </li>
                    <li data-target="#carousel1" data-slide-to="1" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="2" class=""> </li>
                    <li data-target="#carousel1" data-slide-to="3" class=""> </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img class="img-responsive" src="Content/img/shop-pic/shop-pic-01.jpg" alt="thumb">
                        <div class="carousel-caption"> Carousel caption 1. Here goes slide description. Lorem ipsum dolor set amet. </div>
                    </div>
                    <div class="item active">
                        <img class="img-responsive" src="Content/img/shop-pic/shop-pic-02.jpg" alt="thumb">
                        <div class="carousel-caption"> Carousel caption 2. Here goes slide description. Lorem ipsum dolor set amet. </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="Content/img/shop-pic/shop-pic-03.jpg" alt="thumb">
                        <div class="carousel-caption"> Carousel caption 3. Here goes slide description. Lorem ipsum dolor set amet. </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="Content/img/shop-pic/shop-pic-04.jpg" alt="thumb">
                        <div class="carousel-caption"> Carousel caption 4. Here goes slide description. Lorem ipsum dolor set amet. </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="icon-prev"></span></a>
                <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="icon-next"></span></a>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row js-row-content">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                    <img class="img-circle" alt="Free Shipping" src="Content/img/40X40.gif">
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Free Shipping</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row js-row-content">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                    <img class="img-circle" alt="Free Shipping" src="Content/img/40X40.gif">
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Free Returns</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="row js-row-content">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                    <img class="img-circle" alt="Free Shipping" src="Content/img/40X40.gif">
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9">
                    <h4>Low Prices</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="text-center">RECOMMENDED PRODUCTS</h2>
<div class="container text-center">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label class="sr-only" for="SearchString">Find: </label>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", @placeholder = "Search", @id = "SearchString" })
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    }
</div>
<hr>
<div class="container">
    @{var row = 0;}
    @foreach (var item in Model)
    {
        row++;
        <div class="text-center @(row.Equals(3) ? "row" : "")">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="thumbnail">
                    @if (item.ProductPhotos.Any(f => f.FileType == FileType.Photo))
                    { <img src="~/ProductPhotos?id=@item.ProductPhotos.ToList()[0].ProductPhotoId" alt="Thumbnail Image 1" class="img-responsive"> }
                    else
                    { <img src="Content/img/400X200.gif" alt="Thumbnail Image 1" class="img-responsive"> }
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <p>Price: @Html.DisplayFor(modelItem => item.UnitPrice)</p>
                        <p>Stock: @Html.DisplayFor(modelItem => item.Stock)</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        if (row.Equals(3))
            {row = 0;}
    }

    <nav class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </nav>
</div>
<hr>
<div class="container well">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4  col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                    <div>
                        <ul class="list-unstyled">
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                            <li> <a>Link anchor</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
            <address>
                <strong>MyStoreFront, Inc.</strong><br>
                Indian Treasure Link<br>
                Quitman, WA, 99110-0219<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
    </div>
</div>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © MyWebsite. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>